extends ./layouts/main
block vars
    - const title = "Спикерам / Родителям"
block content
    include ./components/mixins
    +breadcrumbs(title)
    .container.mb-4
        h2 Спикерам

        .d-flex.align-items-center.gap-2
            div
                img(src=require('../img/lang-1.png'))
            .flex-1
                p Спикеры в Клубе – это его фундамент, на основе которого выстраивается вся система общей работы. Именно поэтому обеспечение их комфорта, предоставление возможности для профессионального развития и условий для проявления творческой свободы являются приоритетными задачами внутри Клуба.

        p.text-center Каждый Спикер является членом Клуба «Langwich», выступает гарантом того, что класс будет проведен профессионально и с учетом индивидуальных особенностей каждого Клиента. В этой связи Спикер должен осознавать ответственность, которая ложится на его плечи после подписания контракта с Клубом.

        .d-flex.align-items-center.gap-2
            .flex-1
                p Со своей стороны «Langwich» предлагает внимательное отношение к каждому Спикеру, обеспечение его всем необходимым для комфортной работы в Клубе. Это проявляется:
                ul
                    li в справедливом отношении к любой ситуации, возникающей внутри Клуба;
                    li предоставлении свободы для самовыражения, в том числе в ведении урока;
                    li создании достойных условий труда со свободным графиком и конкурентной заработной платой;
                    li активном вовлечении в процесс развития Клуба;
                    li прозрачной рейтинговой системе, создающей условия для чистой конкуренции.
            div
                img(src=require('../img/lang-2.png'))

        .d-flex.align-items-center.gap-2
            div
                img(src=require('../img/lang-3.png'))
            .flex-1
                p
                    | Основным требованием к кандидатуре на должность Спикера в Клубе является гармоничное сочетание его профессиональных навыков и любви к преподаванию иностранных языков. Тем самым, непосредственные умения и качества пользуются несравнимо большим приоритетом, нежели наличие различных документов и сертификатов.
                    br
                    | Наконец, первостепенной важностью для успешной трудовой деятельности является понимание Спикером идеи Клуба, его Миссии. Это не только упрощает дальнейшую работу, но и являет собой пример единства Спикера и Клуба.

        p.text-bgr Если Вы считаете, что «Langwich» – это то место, в котором Вам было бы приятно и интересно работать, то можете отправить свое резюме на электронную почту Клуба: ****@****.com

        div(style={
            'width': '100%',
            'height': '22px',
            'background-color': '#f3f3fc',
            'margin-top': '100px',
            'margin-bottom': '60px'
        })

        h2 Родителям

        .d-flex.align-items-center.gap-2
            div
                img(src=require('../img/lang-1.png'))
            .flex-1
                p В Клубе уверены, что начинать изучать иностранный язык никогда не поздно.
                    br
                    | Но наиболее эффективно – с детства. Ещё до того момента, когда обучение станет занудной рутиной или острой необходимостью.
                    br
                    | У детей прекрасная память – обучение даётся им с лёгкостью. К тому же в Клубе классы проходят в игровой форме и непринуждённой атмосфере.
                    br
                    | Ваш ребёнок полюбит учить язык и учиться вообще, он навсегда запомнит занятия со Спикерами Клуба, они станут его друзьями.




        .d-flex.align-items-center.gap-2
            .flex-1
                p Спикер может помочь сделать домашнее задание, подскажет не только как правильно и быстро «впитать» знания, но и «почувствовать» язык, ведь многое в обучении происходит на интуитивном уровне.
                    br
                    | Родители являются Клиентами Клуба. Важно правильно выбрать Спикера для своего ребёнка – рекомендуем следующих преподавателей (ссылка на «детский» фильтр).
                    br
                    | Родители могут присутствовать (а лучше участвовать) во время проведения классов до тех пор, пока не убедятся в отсутствии такой необходимости.
                    br
                    | Обучение детей английскому языку – отличная инвестиция в их будущее! В Клубе с радостью помогут Вам в этом.
            div
                img(src=require('../img/lang-2.png'))