.d-flex
    .flex-1.advant-img
        img(src=require('../../img/img-0.png'))
    .flex-1
        .d-flex.polygon-block
            .polygon-block__item
                .polygon-block__item_wrap
                    img(src=require('../../img/icowhy-1.png'))
                    | Доступная цена
                    br
                    span от 450 рублей/класс
            .polygon-block__item
                .polygon-block__item_wrap
                    img(src=require('../../img/icowhy-2.png'))
                    | Различный
                    br
                    span формат уроков –
                    br
                    | 25 или 50 минут
            .polygon-block__item
                .polygon-block__item_wrap
                    img(src=require('../../img/icowhy-3.png'))
                    | Опора
                    | на разговорный язык и
                    br
                    span приятная атмосфера
            .polygon-block__item
                .polygon-block__item_wrap
                    img(src=require('../../img/icowhy-4.png'))
                    | Занятия в любое
                    br
                    span удобное время