-
    const coins = [
        {
            title: 'серебряный',
            ico: require('../../img/cl-1.png'),
            time: '25',
            price: 500
        },
        {
            title: 'золотой',
            ico: require('../../img/cl-2.png'),
            time: '50',
            price: 790
        }
    ]
    const count = [
        {value: 5},
        {value: 10},
        {value: 20}
    ]
    let select = 1

.calculator
    - select = 0
    .coins.d-flex.align-items-center.gap-3.mb-4
        each item in coins
            .calculator__coin(class=coins.indexOf(item) === select ? "active" : "")
                .calculator__coin_wrap
                    img(src=item.ico)
                    div Класс:
                    div=item.time
                        sup мин

    .calculator__price.mb-4
        .coin
            img(src=coins[select].ico)
            .coin__count x1
        div=coins[select].time
            sup мин
        .delimiter
        div=coins[select].price
            sup руб
        .btn.btn-1 купить 1 #{coins[select].title} лэнг-коин

    .d-flex.mb-4
        each item in count
            .calculator__count
                .coin
                    img(src=coins[select].ico)
                    .coin__count x#{item.value}
                .d-flex.mb-4
                    div
                        .big=item.value
                        div классов
                            br
                            span (по #{coins[select].time} мин.)
                    div
                        .big=coins[select].price * item.value
                            sup руб
                        .green=coins[select].price
                            sup руб.
                            |  за 1 класс
                .btn.btn-1 купить #{item.value} классов
    .calculator__summ.mb-4
        .coin
            img(src=coins[select].ico)
            .coin__count ...
        div Укажите количество полных классов, которое Вы бы хотели приобрести:
        input(size=2)
        .delimiter
        div
            .big 31050
                sup руб
            .green=coins[select].price
                sup руб.
                |  за 1 класс
        .btn.btn-1 купить
    p.mb-4 Итоговая стоимость может незначительно отличаться в зависимости от способа оплаты. Чтобы увидеть итоговую стоимость, нажмите на кнопку выбранного способа оплаты. Более подробную информацию вы найдёте в Юридических документах (или Условиях использования Платформы).

script.
    const coins = !{JSON.stringify(coins).replace(/<\//g, "<\\/")};
    const count = !{JSON.stringify(count).replace(/<\//g, "<\\/")};
    let select = !{select}
script
    include ../../js/calculator.js