-
    const menu = [
        {title: 'Новости', url: '#'},
        {title: 'Статьи', url: '#'},
        {title: 'Квизы', url: '#'},
        {title: 'Тестирование', url: '#'},
        {title: 'Отзывы', url: '#'},
        {title: 'Родителям', url: '#'},
        {title: 'Спикерам', url: '/forspeakers'},
        {title: 'Правила и условия', url: '#'},
    ]
    const socials = [require('../../img/ico-inst.png'), require('../../img/ico-twit.png'), require('../../img/ico-vk.png'), require('../../img/ico-facebook.png'), require('../../img/ico-youtube.png')]
    const payments = [require('../../img/pay-ali.png'), require('../../img/pay-visa.png'), require('../../img/pay-paypal.png'), require('../../img/pay-mc.png')]
footer
    .container
        .d-flex.flex-between
            a.logo
                img.logo__image(src=require('../../img/logo.png') alt='logo')
            .contact-info
                img.contact-info__icon(src=require('../../img/ico-calendar.png'))
                .contact-info__text
                    div График работы Тех. поддержки:
                    div Пн-вс: с 10:00 до 20:00
            .contact-info
                img.contact-info__icon(src=require('../../img/ico-mail.png'))
                .contact-info__text
                    div Тех. поддержка:
                    div support@langwich.ru
            .socials
                .socials__text Связаться
                    | с нами:
                .socials__list
                    a.socials__item
                        img(src=require('../../img/ico-telegram.png'))
                    a.socials__item
                        img(src=require('../../img/ico-whatsapp.png'))
                    a.socials__item
                        img(src=require('../../img/ico-viber.png'))
    .big-socials
        .big-socials__list
            each item in socials
                a.big-socials__item
                    img(src=item)
    .container
        .payments
            each item in payments
                a.payments__item
                    img(src=item)
    .container
        .gradient
            nav.footer-menu
                each item in menu
                    a.footer-menu__item(href=item.url)=item.title
            .gr-line
                div © 2021, «Лэнгвич». Все права защищены.
                a Политика конфиденциальности
                a Карта сайта