extends ../layouts/popup
block var
    -
        var h2 = 'регистрация'
        var id = 'registrationForm'
block content
    .login-form
        .login-form__input
            img(src=require('../img/input-mail.png'))
            input(placeholder='Ваш e-mail')
        .login-form__input
            img(src=require('../img/input-password.png'))
            input(placeholder='Ваш пароль')
        .text-center.m-1 Регистрация с помощью соц. сетей:
        .socials.mb-1
            .socials__list
                a.socials__item
                    img(src=require('../img/ico-twit.png'))
                a.socials__item
                    img(src=require('../img/ico-vk.png'))
                a.socials__item
                    img(src=require('../img/ico-facebook.png'))
        .btn.btn-1 зарегистрироваться
        .text-center.m-1(style={'font-size':'70%'}) Нажимая кнопку “Зарегистрироваться” Вы соглашаеться на персональную обработку данных и принимаете Условия пользовательского соглашения.